[submodule "_dotfiles_deps/tmux-colors-solarized"]
	path = _dotfiles_deps/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized
[submodule "_dotfiles_deps/dircolors-solarized"]
	path = _dotfiles_deps/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "_vim"]
	path = _vim
	url = https://github.com/tpope/vim-pathogen
[submodule "_vimbundle/vim-colors-solarized"]
	path = _vimbundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "_vimbundle/ctrlp.vim"]
	path = _vimbundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "_vimbundle/vim-fugitive"]
	path = _vimbundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "_vimbundle/ctrlp-py-matcher"]
	path = _vimbundle/ctrlp-py-matcher
	url = https://github.com/FelikZ/ctrlp-py-matcher
[submodule "_vimbundle/vim-unimpaired"]
	path = _vimbundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "_vimbundle/vim-sensible"]
	path = _vimbundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "_vimbundle/vim-multiple-cursors"]
	path = _vimbundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "_vimbundle/vim-abolish"]
	path = _vimbundle/vim-abolish
	url = https://github.com/tpope/vim-abolish
