[submodule "_dotfiles_deps/tmux-colors-solarized"]
	path = _dotfiles_deps/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized
[submodule "_dotfiles_deps/dircolors-solarized"]
	path = _dotfiles_deps/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "_vim"]
	path = _vim
	url = https://github.com/tpope/vim-pathogen
[submodule "_vimbundle/vim-colors-solarized"]
	path = _vimbundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "_vimbundle/ctrlp.vim"]
	path = _vimbundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
